* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-lg lg:text-xl;
  }

  h2 {
    @apply lg:text-lg;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
